{% extends 'base.html.twig' %}

{% block title %} {{ post.title }}{% endblock %}

{% block body %}
    <h1 class="title">ID: {{ post.id }} Titulo: {{ post.title }}</h1>
    <img src="{{ '/sftutorial/public/uploads/' ~ post.image }}">
{% endblock %}